<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sen.blog.dao.ArticleTagRefDao">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <sql id="articleColumns">
        article_id AS articleId,
        tag_id AS tagId
    </sql>

    <insert id="saveArticleTag" flushCache="true">
        INSERT INTO article_tag_ref
        VALUES (
        #{articleId},
        #{tagId}
        )
    </insert>

    <update id="updateArticleTag" flushCache="true">
        UPDATE article_tag_ref
        SET
        tag_id = #{tagId}
        WHERE  article_id = #{articleId}
    </update>

    <delete id="deleteArticleTag" flushCache="true">
        DELETE FROM article_tag_ref
        WHERE article_id = #{articleId}
    </delete>
</mapper>