<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sen.blog.dao.ArticleCategoryRefDao">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <sql id="articleCategoryColumns">
        article_id AS articleId,
        category_id AS categoryId
    </sql>

    <insert id="saveArticleCategory" flushCache="true">
        INSERT INTO article_category_ref
        VALUES (
        #{articleId},
        #{categoryId}
        )
    </insert>

    <update id="updateArticleCategory" flushCache="true">
        UPDATE article_category_ref
        SET
        category_id = #{categoryId}
        WHERE article_id = #{articleId}
    </update>

    <delete id="deleteArticleCategory" flushCache="true">
        DELETE FROM article_category_ref
        WHERE article_id = #{articleId}
    </delete>
</mapper>