<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sen.blog.dao.CategoryDao">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <sql id="categoryColumns">
        a.category_id AS categoryId,
        a.category_pid AS categoryPid,
        a.category_name AS categoryName,
        a.category_description AS categoryDescription,
        a.category_order AS categoryOrder,
        a.category_icon AS categoryIcon
    </sql>

    <select id="selectAll" resultType="Category">
        SELECT *,COUNT(ref.`article_id`) AS articleCount
        FROM
        category c LEFT JOIN article_category_ref ref
        ON c.`category_id` = ref.`category_id`
        GROUP BY c.`category_id`
        ORDER BY c.`category_id`
    </select>
    <select id="selectByArticleId" resultType="Category">
        SELECT
        <include refid="categoryColumns"/>
        FROM
        article_category_ref ref
        JOIN category a
        ON ref.category_id = a.category_id
        WHERE ref.article_id=#{articleId}
    </select>
    <select id="selectById" resultType="Category">
        SELECT
        <include refid="categoryColumns"/>
        FROM category a
        WHERE a.category_id = #{categoryId}

    </select>

    <insert id="insert" flushCache="true">
        INSERT INTO
        category(
        category_pid,
        category_name,
        category_description,
        category_order,
        category_icon
        )
        VALUES (
            #{categoryPid},
            #{categoryName},
            #{categoryDescription},
            #{categoryOrder},
            #{categoryIcon}
        )
    </insert>

    <delete id="delete" flushCache="true">
        DELETE FROM category
        WHERE category_id = #{id}
    </delete>

    <update id="update" flushCache="true">
        UPDATE category
        SET
        category_pid = #{categoryPid},
        category_name = #{categoryName},
        category_description = #{categoryDescription},
        category_order = #{categoryOrder},
        category_icon = #{categoryIcon}
        WHERE category_id = #{categoryId}
    </update>

</mapper>